SUMMARIZER_MODE=extractive
SUMMARIZER_MODEL=sshleifer/distilbart-cnn-12-6
MAX_TRANSCRIPT_CHARS=18000
HF_HOME=.cache/huggingface
ENABLE_WHISPER_FALLBACK=true
WHISPER_MODEL=tiny
YTDLP_COOKIES_FROM_BROWSER=
YTDLP_COOKIE_FILE=
